.tab-button {
  font-family: "Comic Neue";
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 90%;
  text-align: center;
  border-radius: 15px;
}
.tab-button-active {
  font-family: "Comic Neue";
  background-color: inherit;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  background-color: #383838;
  width: 90%;
  text-align: center;
  border-radius: 15px;
}

.tab-button:hover {
  border-radius: 15px;
  background-color: #ddd;
}
